
body {
    background-color: #F1F0E1;
    font-family: Arial, sans-serif;
    color: #000;
}

h1 {
    font-family: 'Chewy', sans-serif;
    color: #FFFEF3; /* Hero section */
    font-size: 3.5rem; 
    font-weight: 400;
}

h2 {
    font-family: "League Spartan", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

h3 {
    font-family: 'Chewy', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
}

p {
    font-family: "League Spartan", sans-serif;
    font-size: 1.1rem;
}

/* Navbar Styling */
.navbar {
    border: 1px solid rgba(0, 0, 0, 0.25);
    max-width: 1200px;
    margin: 0 2rem 2rem 2rem;
}

.nav-logo h3 {
    color: #2E452D;
    font-size: 2.5rem; 
    margin: 0;
}

.nav-link {
    color: #2A3B27;
    font-family: "League Spartan";
    font-size: 1.25rem;
    font-weight: 500;
}

.intro_card {
    background: #7C8E6A;
    border-radius: 1.875rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: #FFFEF3;
}

.intro_card h1, 
.intro_card h2 {
    color: #FFFEF3; 
}

.projectCard {
    background: #FFF;
    border-radius: 1rem;
    border: 3px solid #C0CCAC;
}

.left_project h2 {
    color: #000;
    font-size: 1.2rem;
    opacity: 0.7;
}

.left_project h3 {
    color: #2A3B27;
}

.aboutsection {
    padding: 3em;

}


.button-link {
    display: inline-block; 
    text-decoration: none; 
    
    background-color: #7C8E6A; 
    color: #FFFEF3;        
    
    padding: 10px 20px; 
    border:none;
    border-radius: 5px;
    font-family: "League Spartan", sans-serif;
    font-weight: 600;
    text-align: center;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: #5a6b4d;
    color: #FFFFFF;
}

/* Images */
.image-container {
    width: 100%;
    max-width: 400px;
    border-radius: 16px;
    overflow: hidden;
}

.portrait-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
}

/* Footer */
footer {
    background-color: #2E452D;
    width: 100%; 
    padding: 2rem 0;
    margin-top: 4rem;
    text-align: center;
}

footer p {
    color: #F1F0E1;
}



@media screen and (max-width: 768px) {
    h1 { font-size: 2.5rem; }
    h2 { font-size: 1.2rem; }
    h3 { font-size: 2rem; }
    
    .nav-logo h3 {
        font-size: 2rem;
    }

    .projectCard {
        margin: 3em;
    }


}

@media screen and (max-width: 450px) {
    /*phone*/
    h1 { font-size: 2.5rem; }
    h2 { font-size: 1.2rem; }
    h3 { font-size: 2rem; }
    
    .nav-logo h3 {
        font-size: 2rem;
    }

    .projectCard {
        margin: 2em;
    }
    .intro_card {
        margin: 2em;
    }


}